<h1>Display your Pirate here</h1>
<div class="Pirate">
  <p>Pirate Name: <%= @pirate.name%></p>
  <p>Pirate Weight: <%= @pirate.weight%></p>
  <p>Pirate Height: <%= @pirate.height %></p>
</div>
<h2>Display your first ship here</h2>
  <p> <%= @ships[0].name%> </p>
  <p> <%= @ships[0].type %> </p>
  <p> <%= @ships[0].booty %> </p>

<h2>Display your second ship here</h2>
  <p> <%= @ships[1].name%> </p>
  <p> <%= @ships[1].type %> </p>
  <p> <%= @ships[1].booty %> </p>
